In [15]:
import glob
import pandas as pd
from IPython import display as ICD

In [2]:
def highlight_max(s):
    s = s.apply(lambda x: float(x.split(" ")[0]))
    is_max = s == s.max()
    return ["font-weight: bold" if cell else '' for cell in is_max]

def drop_columns_with_name(df, name):
    for c in df.columns:
        if name in c.lower():
            df.drop(c, axis=1, inplace=True)
    return df

def postprocess_results(results_path, precision=2, filter_cols=None, final_order=None):
    # read results
    df = pd.read_csv(results_path)
    df = drop_columns_with_name(df, "unnamed")
    
    # group for mean and std
    df_grouped = df.groupby(by=['technique'])
    means = df_grouped.mean()
    stds  = df_grouped.std()

    # store metadata to add back in later
    index = means.index.to_list()
    columns = means.columns

    # merge the means and stds
    merged_data = []
    for mean_row, std_row in zip(means.to_numpy(), stds.to_numpy()):
        new_row = []
        for m, s in zip(mean_row, std_row):
            payload = f"{round(m, precision)} ({round(s, precision)})"
            new_row.append(payload)
        merged_data.append(new_row)
    merged_df = pd.DataFrame(merged_data)
    merged_df.columns = means.columns
    merged_df.index = means.index

    # resort for final order
    if final_order is not None:
        merged_df = merged_df.reindex(final_order)
    
    # embolden the highest value in each column
    merged_df = merged_df.style.apply(highlight_max)

    # filter columns
    if filter_cols is not None:
        merged_df = merged_df[filter_cols]

    return merged_df

## Prepare data for paper

In [3]:
final_order = ['orig', 'random', 'beam', 'diverse_beam', 'dips', 'qcpg', 'textdiv', 'qcpgpp']

### Intrinsic

In [19]:
intrinsic_paths = glob.glob("intrinsic_*")

for intrinsic_path in intrinsic_paths:
    print(intrinsic_path)
    ICD.display(postprocess_results(intrinsic_path, final_order=final_order))

intrinsic_results_banking77.csv

intrinsic_results_snips_built_in_intents.csv

intrinsic_results_trec_coarse_label.csv

intrinsic_results_trec_fine_label.csv

intrinsic_results_tweet_eval_emotion.csv

### Training

In [22]:
intrinsic_paths = glob.glob("train_*")

for intrinsic_path in intrinsic_paths:
    print(intrinsic_path)
    ICD.display(postprocess_results(intrinsic_path, precision=3, final_order=final_order))

train_results_banking77.csv

train_results_glue_mrpc.csv

train_results_snips_built_in_intents.csv

train_results_snips_built_in_intents_distilbert.csv

train_results_tweet_eval_emotion.csv